.btn{
  color: #ffffff;
  font-weight: 600;
  border: 0;
  padding: 0 1.5rem;
  line-height: 2.2;
  background-color: var(--c-purple);
  text-transform: capitalize;
  @extend %default-radius;

  &.search{
    padding: 1rem 0.7rem;
  }
  &.--aux{
    line-height: 2.7;
    background-color: var(--c-seadarkblue);
  }
}
