:root{
	//grip gap
	--gap: 0.5rem;
	//text
	--fz-sm: 1rem;
	--fz-md: 1.5rem;
	--fz-lg: 4rem;
	//fw
	--fw-reg: 400;
	--fw-sb:600;
	--fw-b: 700;
	//colors
	--c-navyblue:    #1a253b;
	--c-purple:		   #5f22a8;
	--c-orange:			 #ff4600;
	--c-black:			 #414141;
	--c-seadarkblue: #007693;
	--bg-light:			 #f5f9f2;
	--bg-dark:			 #edece6;
	--bg-input:			 #e0e7e0;
}
