/* Coolors Exported Palette - coolors.co/c8394c-e6c24c-a05795-44a16a-434daf */

/* HSL */
$color1: hsla(352%, 57%, 50%, 1);
$color2: hsla(46%, 75%, 60%, 1);
$color3: hsla(309%, 30%, 48%, 1);
$color4: hsla(145%, 41%, 45%, 1);
$color5: hsla(234%, 45%, 47%, 1);

/* RGB */
$color1: rgba(200, 57, 76, 1);
$color2: rgba(230, 194, 76, 1);
$color3: rgba(160, 87, 149, 1);
$color4: rgba(68, 161, 106, 1);
$color5: rgba(67, 77, 175, 1);